:root
  color #ccc
  background #222

*
  margin 0

body
  // display grid
  // place-content center
  width 100%
  min-height 100vh
  // background #000

// .qwe
// min-width 100%
// min-height 100%
// background #000
.ca
  position fixed
  // width 100%
  // min-height 100%
  // background #333